[submodule "ShadowDumper"]
	path = ShadowDumper
	url = https://github.com/Offensive-Panda/ShadowDumper
[submodule "impacket"]
	path = impacket
	url = https://github.com/fortra/impacket
[submodule "mimikatz"]
	path = mimikatz
	url = https://github.com/ParrotSec/mimikatz
